.container-pictures {
    width: 95%;
    height:400px;
    margin: 30px;
}

.container-topLevel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
}

.container-mainInfo{
    text-align: start;
}

ul{
    padding-left: 0px;
}

.li-tag{
    list-style: none;
    display:inline;
    margin-right: 10px;
    background: #FF6060;
    color:white;
    border-radius: 25px;
    padding: 0px 15px ;
}

.container-host{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.host-name{
    width : min-content;
    margin-right: 10px;
}

.host-pic{
    overflow: hidden;
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

.host-pic img{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.appart-collapse{  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.appart-collapse>.container-value{
    width: 50%;
}

.container-value {
    width: 95%;
    margin: 30px;
}

.li-equip{
    list-style: none;
}

.container-star{
    display: flex;
    justify-content: space-around;
}

.star{
    width: 25%;  
}

/* media queries */

@media (min-width:100px) and (max-width:992px)
{
   .container-topLevel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        width: 95%;
   }

   .hostRating {
    display: flex;
    flex-direction: row-reverse
   }
}