.container-banner{
    overflow: hidden;
    border-radius:25px;
    margin: auto;
    
}

.banner{
    filter : brightness(60%);
    border-radius:25px;
    width: 95%;
}

.banner-txt { 
    font-size: 20px;
}