.notfound-txt{
    font-size:150px;
    margin-bottom: 0px;
}

.notfound{
    margin-bottom: 100px;
    font-size: 20px;
}

.link-back {
    font-size: small;
    text-decoration: underline;
    color:#FF6060;
}


/* media query */

@media (min-width:300px) and (max-width:580px){
    .notfound {
        margin: 20px;
    }
}