.container-value{
    margin: 30px;
}

.title-sectionValue{
    background:#FF6060;
    color:white;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right:10px;
    text-align: start;
    border-radius:5px;
    display: flex;
    justify-content: space-between;
}

.content{
    background: #F7F7F7;
    margin: 0px;
    padding: 10px;
    text-align: start;
}

.title-sectionValue {
    cursor: pointer;
}